# Ignore UofT/UT-Swing specific spaces
swingo_spaces/canadian.png
swingo_spaces/exec.png
swingo_spaces/innis.png
swingo_spaces/international.png
swingo_spaces/massey.png
swingo_spaces/new.png
swingo_spaces/newtotoronto.png
swingo_spaces/stmikes.png
swingo_spaces/trin.png
swingo_spaces/uc.png
swingo_spaces/vic.png
